flows_local.json
[{"id":"aa3b9ee.b7eda6","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"8cb64f08.b8a31","type":"tab","label":"MQTT function","disabled":false,"info":""},{"id":"a3ea68e9.124828","type":"tab","label":"HTTP bacis","disabled":false,"info":""},{"id":"220418f5.6d6818","type":"tab","label":"HTTP file","disabled":false,"info":""},{"id":"84239725.dcdb48","type":"tab","label":"HTTP request","disabled":false,"info":""},{"id":"1d931e41.8743b2","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"fc47f67f.d4e4d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7353b01a.5a552","type":"mqtt in","z":"aa3b9ee.b7eda6","name":"","topic":"mqtt/local/topic","qos":"2","broker":"1d931e41.8743b2","x":177,"y":445,"wires":[["cb3ff46c.921a18"]]},{"id":"f0999dca.79e3f","type":"mqtt out","z":"aa3b9ee.b7eda6","name":"","topic":"mqtt/local/topic","qos":"","retain":"false","broker":"1d931e41.8743b2","x":628,"y":309,"wires":[]},{"id":"fd59c9c.674dc38","type":"inject","z":"aa3b9ee.b7eda6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":174,"y":309,"wires":[["f0999dca.79e3f"]]},{"id":"cb3ff46c.921a18","type":"debug","z":"aa3b9ee.b7eda6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":615,"y":444,"wires":[]},{"id":"ffb6d890.82a898","type":"mosca in","z":"aa3b9ee.b7eda6","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":173,"y":146,"wires":[["af4c1f0b.94b3a"]]},{"id":"af4c1f0b.94b3a","type":"debug","z":"aa3b9ee.b7eda6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":619,"y":145,"wires":[]},{"id":"bb27e854.172a68","type":"mqtt out","z":"8cb64f08.b8a31","name":"","topic":"mqtt/local/topic","qos":"0","retain":"","broker":"1d931e41.8743b2","x":701,"y":179,"wires":[]},{"id":"9f891fef.a65bb","type":"mqtt in","z":"8cb64f08.b8a31","name":"","topic":"mqtt/local/topic","qos":"2","broker":"1d931e41.8743b2","x":85,"y":360,"wires":[["861144e7.40c628"]]},{"id":"7434ee60.52cdb","type":"inject","z":"8cb64f08.b8a31","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":87,"y":180,"wires":[["29209fd7.3547d"]]},{"id":"861144e7.40c628","type":"debug","z":"8cb64f08.b8a31","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":688,"y":359,"wires":[]},{"id":"29209fd7.3547d","type":"function","z":"8cb64f08.b8a31","name":"Convert Time","func":"msg.payload = new Date(msg.payload)\n\nreturn msg","outputs":1,"noerr":0,"x":274.5,"y":180,"wires":[["ba132d38.11d6"]]},{"id":"ba132d38.11d6","type":"change","z":"8cb64f08.b8a31","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.time","tot":"msg"},{"t":"set","p":"payload.name","pt":"msg","to":"Yu","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":487,"y":180,"wires":[["bb27e854.172a68"]]},{"id":"33c2fdbe.d46832","type":"http in","z":"a3ea68e9.124828","name":"","url":"/local/hello","method":"get","upload":false,"swaggerDoc":"","x":221,"y":186,"wires":[["ae0c423c.de85a"]]},{"id":"ae0c423c.de85a","type":"template","z":"a3ea68e9.124828","name":"Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1><center>{{req.query.name}}, How are you feeling now?</center></h1>\n        <div style=\"font-size: 10em; text-align:  center;\">{{payload.description}}</div>\n    </body>\n</html>\n","output":"str","x":481,"y":184,"wires":[["e94941d9.5d745"]]},{"id":"e94941d9.5d745","type":"http response","z":"a3ea68e9.124828","name":"","statusCode":"200","headers":{},"x":699,"y":182,"wires":[]},{"id":"8dff64f8.447b78","type":"http in","z":"220418f5.6d6818","name":"","url":"/local/hello","method":"get","upload":false,"swaggerDoc":"","x":123,"y":224,"wires":[["c0280735.936888"]]},{"id":"399439f4.653906","type":"http response","z":"220418f5.6d6818","name":"","statusCode":"200","headers":{},"x":776,"y":217,"wires":[]},{"id":"c0280735.936888","type":"file in","z":"220418f5.6d6818","name":"","filename":"/tmp/yu-avator.jpg","format":"","sendError":true,"x":355.5,"y":223,"wires":[["a8762fb7.7cd47"]]},{"id":"a8762fb7.7cd47","type":"change","z":"220418f5.6d6818","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590.5,"y":220,"wires":[["399439f4.653906"]]},{"id":"4458fc38.af67c4","type":"http request","z":"84239725.dcdb48","name":"","method":"GET","ret":"txt","url":"","tls":"","x":624,"y":174,"wires":[[]]},{"id":"47d5030d.96e70c","type":"inject","z":"84239725.dcdb48","name":"local hello","topic":"","payload":"http://127.0.0.1:1880/local/hello?name=Yu&description=OH!YEAH!!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":174,"wires":[["f652bfc.42e264"]]},{"id":"f652bfc.42e264","type":"change","z":"84239725.dcdb48","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":375,"y":173,"wires":[["4458fc38.af67c4"]]},{"id":"1fa58738.9be179","type":"http in","z":"84239725.dcdb48","name":"","url":"/local/hello","method":"get","upload":false,"swaggerDoc":"","x":189,"y":361,"wires":[["33429646.e8b39a","957dacfe.68d61"]]},{"id":"33429646.e8b39a","type":"http response","z":"84239725.dcdb48","name":"","statusCode":"200","headers":{},"x":667,"y":357,"wires":[]},{"id":"957dacfe.68d61","type":"debug","z":"84239725.dcdb48","name":"","active":true,"console":"false","complete":"false","x":465,"y":448,"wires":[]}]