flows_CNyuzhang-2.local.json
[{"id":"aa3b9ee.b7eda6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9ad1d795.941a28","type":"tab","label":"Identity Service","disabled":false,"info":""},{"id":"702a3b46.758784","type":"tls-config","z":"","name":"service-admin certificate","cert":"","key":"","ca":"","certname":"default-admin-cert.pem","keyname":"default-admin-key.pem","caname":"server-ca.pem","verifyservercert":true},{"id":"3fdb0388.d7603c","type":"tls-config","z":"","name":"dev cert","cert":"","key":"","ca":"","certname":"cert.pem","keyname":"key.pem","caname":"ca.pem","verifyservercert":false},{"id":"1d931e41.8743b2","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"34c5150b.829cba","type":"mqtt-broker","z":"","name":"","broker":"broker.jhaws.de","port":"8883","tls":"3fdb0388.d7603c","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"773ce2a5.58681c","type":"mqtt in","z":"aa3b9ee.b7eda6","name":"","topic":"mqtt/local/topic","qos":"2","broker":"1d931e41.8743b2","x":176.5,"y":460,"wires":[["18a1a274.37154e"]]},{"id":"a35bb883.b28538","type":"mqtt out","z":"aa3b9ee.b7eda6","name":"","topic":"mqtt/local/topic","qos":"","retain":"false","broker":"1d931e41.8743b2","x":641.5,"y":325,"wires":[]},{"id":"829f0f87.1c80c","type":"inject","z":"aa3b9ee.b7eda6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":187.5,"y":325,"wires":[["a35bb883.b28538"]]},{"id":"18a1a274.37154e","type":"debug","z":"aa3b9ee.b7eda6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":628.5,"y":460,"wires":[]},{"id":"60e17a96.e963f4","type":"mosca in","z":"aa3b9ee.b7eda6","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":186.5,"y":162,"wires":[["132c5a5a.5813b6"]]},{"id":"132c5a5a.5813b6","type":"debug","z":"aa3b9ee.b7eda6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":632.5,"y":161,"wires":[]},{"id":"f96843d1.cda37","type":"http request","z":"9ad1d795.941a28","name":"","method":"GET","ret":"txt","url":"","tls":"","x":599,"y":267,"wires":[[]]},{"id":"bdebfdf7.411c3","type":"inject","z":"9ad1d795.941a28","name":"local hello","topic":"","payload":"http://127.0.0.1:1880/local/hello?name=Yu&description=OH!YEAH!!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":145,"y":267,"wires":[["d93270ce.c72aa"]]},{"id":"d93270ce.c72aa","type":"change","z":"9ad1d795.941a28","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":266,"wires":[["f96843d1.cda37"]]},{"id":"1cc6d663.2a277a","type":"http in","z":"9ad1d795.941a28","name":"","url":"/local/hello","method":"get","upload":false,"swaggerDoc":"","x":164,"y":454,"wires":[["645113e9.a949ec","774229f2.53a948"]]},{"id":"645113e9.a949ec","type":"http response","z":"9ad1d795.941a28","name":"","statusCode":"200","headers":{},"x":642,"y":450,"wires":[]},{"id":"774229f2.53a948","type":"debug","z":"9ad1d795.941a28","name":"","active":true,"console":"false","complete":"false","x":440,"y":541,"wires":[]}]